<div class="col-sm-3 col-md-2 sidebar">
    {% if app.user %}
        <p>
            欢迎您，{{ app.user.username }}
        </p>
        <p>
            <a href="{{ path('acme_iot_user_logout') }}">
                <span class="fa fa-sign-out btn-sm btn-danger">退出</span>             
            </a>
        </p>
    {% endif %}

    <ul class="nav nav-sidebar">
        <li><a href="{{ path('acme_frontend_device_mqtt_devlist') }}">我的设备</a></li>
        <li><a href="{{ path('acme_frontend_device_mqtt_transfer') }}">设备透传</a></li>
        {# <li><a href="{{ path('acme_frontend_device_mqtt_message') }}">设备信息</a></li> #}
    </ul>
</div>