{% macro simple_list(users) %}

    {% import 'AcmeWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

    {% if users|length > 0 %}
        <table id="users" class="table">
            <thead>
                <tr>
                    <th>{{ 'qomo.user.id' | trans }}</th>
                    <th>{{ 'qomo.user.username' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>                
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('qomo.user.no_results'|trans) }}
    {% endif %}

{% endmacro %}
